.vip-agree-wrap {
    width: 7.5rem;
    margin: 0 auto;
    min-height: 100vh;
    background: #F9F8F8;

    .mint-header {
        background: #F9F8F8;
        color: #333;
    }

    .agree-list {
        line-height: 1.5;
        color: #333;
        width: 6.9rem;
        margin: 0 auto;

        p {
            margin-top: .2rem;
            font-size: .26rem;
            text-indent: .52rem;
        }
    }


}