.my-order-wrap {
    width: 7.5rem;
    margin: 0 auto;
    min-height: 100vh;
    background: #F9F8F8;

    .mint-header {
        background: #F9F8F8;
        color: #333;
    }

    .mint-navbar {
        background: #F9F8F8;

        .is-selected {
            color: #FD5F65;
            border-bottom:none !important;
            .mint-tab-item-label {

                border-bottom: .06rem solid #FD5F65;
            }
        }

        .mint-tab-item {
            padding: 0 0;
        }

        .mint-tab-item-label {
            font-size: .28rem;
            width: 1rem;
            line-height: .6rem;
            margin: 0 auto;
            border-bottom: .06rem solid #F9F8F8;

        }
    }

    .mint-tab-container {
        background: #F9F8F8;

        ul {
            li {
                .goods-inf {
                    width: 7.5rem;
                    padding: .3rem;
                    box-sizing: border-box;
                    background: #fff;
                    border-bottom: .16rem solid #F9F8F8;

                    img {
                        width: 2rem;
                        height: 2rem;
                        float: left;
                    }

                    .order-inf {
                        width: 4.5rem;
                        float: right;

                        h4 {
                            font-size: .26rem;
                            color: #333;
                            line-height: .36rem;
                            height: .72rem;
                            overflow: hidden;
                            font-weight: normal;
                        }

                        .price {
                            margin: .4rem auto;

                            i {
                                float: left;
                                color: red;
                                font-size: .32rem;
                                font-weight: bold;
                            }

                            b {
                                float: right;
                                font-size: .26rem;
                                color: #666;
                            }
                        }

                        .order-state {
                            width: 1.6rem;
                            height: .6rem;
                            line-height: .6rem;
                            text-align: center;
                            font-size: .26rem;
                            color: #333;
                            border-radius: .3rem;
                            border: 1px solid #666;
                            margin-top: .2rem;
                            float: right;
                        }
                    }
                }
            }
        }

    }
}